<h1><%= @list.name %></h1>

<%= form_for @rating do |f| %>
   1 <%= f.radio_button :star_rating, "1"%> | 2 <%= f.radio_button :star_rating, "2"%> | 3 <%= f.radio_button :star_rating, "3"%> | 4 <%= f.radio_button :star_rating, "4"%> | 5 <%= f.radio_button :star_rating, "5"%> |
  <%= f.hidden_field :list_id, value: @list.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "Add Rating" %>
<%end%>

<h3>Ingredients:</h3>

<ol>
  <% @list.ingredients.each do |ingredient| %>
    <li><%= ingredient.description %></li><br>
  <% end %>
</ol>

<%= button_to "Add Ingredients", new_list_ingredient_path(@list), method: 'get' %>
<%= button_to "Edit Recipe", edit_list_path(@list), method: 'get' %>
<%= button_to "Delete Recipe", "/lists/#{@list.id}", method: 'delete' %><br>

<%= form_for @comment do |f| %>
  <%= f.text_field :content, placeholder: "New comment" %>
  <%= f.hidden_field :list_id, value: @list.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "Add Comment" %>
<% end %>

<% @list.comments.each do |comment| %>
  <p><%= comment.content %></p>
<% end %>